<div>
    <div class="head-container">
        <div class="product-flex-item-left">
            <div class="img-container">
                <img src="{{productImg}}">
            </div>
            <div class="btn-container">
                <button class="btn btn-addtocart"> Add To Cart</button>
                <button class="btn btn-buynow"> Buy Now</button>
            </div>
        </div>
        <div class="product-flex-item-right">
            <div class="breadcrum">Men > T-Shirt > Nike</div>
            <div>
                <h1 style="color: #212121;
                font-size: 18px;
                font-weight: 400;">
                    <span style="display:block;font-weight: 500;font-size: 16px;color: #878787;">The Nike</span>
                    <span style="padding: 0;
                    line-height: 1.4;
                    font-size: inherit;
                    font-weight: inherit;
                    display: inline-block;">Solid Men Hooded Neck Dark Green T-Shirt</span>
                </h1>
            </div>

            <div style="margin-top: 12px;">
                <label>
                    <span style="font-size: 28px;
                    display: inline-block;
                    vertical-align: sub;
                    font-weight: 500;
                    color: #212121;">₹299</span>
                    <span style="font-size: 16px;
                    margin-left: 12px;
                    vertical-align: middle;
                    text-decoration: line-through;
                    color: #878787;">₹1909</span>
                    <span style="margin-left: 12px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #388e3c;
                    vertical-align: middle;">85% Off</span>
                </label>
            </div>

            <div style="margin-top: 12px;">
                <label>
                    <span style="padding: 2px 7px;
                    border-radius: 14px;
                    font-size: 20px;
                    background-color: #26a541;
                    vertical-align: baseline;
                    color:white;
                    font-weight: 500;">4<span class="material-icons" style="vertical-align: top;padding-left: 7px;font-size: 19px;">
star_rate
</span></span>
                    <span style="padding-left: 8px;
                    font-weight: 500;
                    color: #878787;vertical-align: text-bottom;">{{ratings}} Ratings & {{reviews}} Reviews</span>                    
                </label>
            </div>
            <div>
                <h1 style="font-size: 16px;
                font-weight: 500;
                color: #212121;margin-top: 10px;margin-bottom: 6px;">Available offers</h1>
                <ul>
                    <li style="list-style:none;">
                        <span>
                            <img src="../../../../assets/images/product-details-offers_01.png" style="height:18px;width:18px;"/></span> Bank Offer 10% off on ICICI Bank Credit Cards, up to ₹1000. On orders of ₹5000 and above T&C</li>
                    <li style="list-style:none;margin-top:6px;">
                        <span><img src="../../../../assets/images/product-details-offers_01.png" style="height:18px;width:18px;"/></span> Bank Offer 5% Unlimited Cashback on Flipkart Axis Bank Credit Card T&C</li>
                    <li style="list-style:none;margin-top:6px;">
                        <span><img src="../../../../assets/images/product-details-offers_01.png" style="height:18px;width:18px;"/></span> Bank Offer ₹100 Off on BOB Mastercard debit card first time transaction, Terms and Condition apply T&C
                    </li>
                    <li style="list-style:none;margin-top:6px;">
                        <span><img src="../../../../assets/images/product-details-offers_01.png" style="height:18px;width:18px;"/></span> Partner Offer Installation at ₹999+18% Taxes Know More</li>
                    <li style="list-style:none;margin-top:10px;font-weight: 500;
                    color: #2874f0;"> View 3 more offers</li>
                </ul>
            </div>
            <div>
                <form autocomplete="off">
                    <label style="font-size: 16px;margin-right:93px; font-weight: 500;">Deliver to </label>
                    <mat-form-field class="example-full-width">
                        <mat-label>Enter pin code</mat-label>
                        <input matInput placeholder="Enter pin code" />
                    </mat-form-field>
                    <button mat-flat-button color="warn" style="margin-left:10px;">search</button>
                </form>
            </div>
            <div style="display:flex;">
                <span style="padding-top: 18px;font-size: 16px;
                font-weight: 500;">Size</span>
                <ul style="display: flex;list-style: none;">
                    <li *ngFor="let size of sizes; let i = index;" style="margin: 0 16px 0 0;
                    cursor: pointer;
                    padding-top: 8px;    display: inline-flex;">
                        <a href="#" style="border: 2px solid #f0f0f0;
                        min-width: 48px;
                        height: 40px;
                        padding: 8px 16px;
                        background: #fff;
                        font-weight: 500;
                        color: #000;
                        text-align: center;
                        font-size: 18px;text-decoration: none;">{{size}}</a>
                    </li>
                    <li style="padding-top: 18px;font-weight: 500;
                    color: #2874f0;">Chart Size</li>
                </ul>
            </div>
            <div style="display:flex;">
                <span style="font-size: 16px;
                font-weight: 500;">Seller</span>
                <div style="margin-left:10.7%;">
                    <span style="font-weight: 500;
                    color: #2874f0;
                    position: relative;
                    display: inline;
                    cursor: pointer;">
                        SpaceXX Land to Mars
                    </span>
                    <span style="padding: 2px 7px;
                    border-radius: 14px;
                    font-size: 15px;
                    background-color: #26a541;
                    vertical-align: baseline;
                    color:white;
                    font-weight: 500;">{{sellerRating}}
                        <span class="material-icons" style="vertical-align: inherit;font-size: 14px;">
                            star_rate
                        </span>
                    </span>
                </div>
            </div>
            <div style="margin-top: 8px;">
                <ul style="margin-left:12.1%;">
                    <li>10 Days Replacement Policy</li>
                    <li>GST invoice available</li>
                </ul>
            </div>
            <section style="padding:15px 0; border-bottom: 1px solid darkred;">
                <div style="display:flex;justify-content: space-between;" (click)="toggled = !toggled">
                    <span style="font-size: 24px; font-weight: 500;padding-top:8px;">Product Deatils</span>
                    <span>                        
                        <span class="material-icons" *ngIf="!toggled" style="font-size: 45px; font-weight: 500;">keyboard_arrow_down</span>
                    <span class="material-icons" *ngIf="toggled" style="font-size: 45px; font-weight: 500;"> keyboard_arrow_up</span>
                    </span>
                </div>
                <div *ngIf="toggled">
                    <ul>
                        <li><span>Key</span><span>Value</span></li>
                    </ul>
                </div>
            </section>
            <section style="padding:15px 0; border-bottom: 1px solid darkred;">
                <div style="display:flex;justify-content: space-between;">
                    <span style="font-size: 20px; font-weight: 500;">Reviews and Ratings</span>
                    <span>
                    <span style="padding: 2px 7px;
                    border-radius: 14px;
                    font-size: 20px;
                    background-color: #26a541;
                    vertical-align: baseline;
                    color:white;
                    font-weight: 500;">4
                    <span class="material-icons" style="vertical-align: top;padding-left: 7px;font-size: 19px;">star_rate</span></span>
                    {{ratings}} 12 ratings and 0 reviews
                    </span>
                    <span>
                        <button style="padding: 8px 15px;
                        background-color: #2874f0;
                        color: #fff;border:none;">Rate Product</button>
                    </span>
                </div>

            </section>
        </div>
    </div>
    <div>
        <div>
            <h1>Similar product</h1>
            <div class="flex-container">
                <div class="flex-item">
                    <img src="../../../assets/images/tshirt_01.jpeg" />
                    <div>
                        <p>Puma</p>
                        <h3>Solid red V-Neck</h3>
                        <p>₹399 <span>789 </span><span>78% off</span></p>
                        <p>size: M L XL XLL</p>
                    </div>
                </div>
                <div class="flex-item">
                    <img src="../../../assets/images/tshirt_02.jpeg" />
                    <div>
                        <p>Adidas</p>
                        <h3>Solid red V-Neck</h3>
                        <p>₹399 <span>789 </span><span>78% off</span></p>
                        <p>size: M L XL XLL</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>