.head-container {
    display: flex;
    flex-flow: row;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}

.product-flex-item-left {
    position: sticky;
    top: 10px;
    bottom: 0;
    width: 32%;
    flex-flow: column;
    align-self: flex-start;
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.product-flex-item-left img {
    width: 90%;
    height: auto;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 18px 8px;
    border-radius: 2px;
    border: none;
    color: #fff;
    width: 48%;
    text-transform: uppercase;
    font-size: 16px;
}

.btn-addtocart {
    background: #ff9f00;
}

.btn-buynow {
    background: #fb641b;
}

.product-flex-item-right {
    width: 67%;
    flex-flow: row;
    padding-left: 20px;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    background: tomato;
    /* padding: 5px; */
    width: 200px;
    height: auto;
    margin-top: 10px;
    color: white;
    /* font-size: 3em;
    text-align: center;
    line-height: 150px;
    font-weight: bold; */
    position: relative;
}

.breadcrum {
    font-size: 16px;
    color: #878787;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 266px;
}