<header>
    <nav>
        <div>
            <a routerLink="/category" routerLinkActive="active">product</a>
        </div>
        <div>
            <a routerLink="/home">Heroes</a>
        </div>
        <div>
            <a routerLink="/product">Product2</a>
        </div>
        <div>
            <a routerLink="/cart" routerLinkActive="active">Cart</a>
        </div>
        <div>
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </div>
        <div>
            <a routerLink="/profile">Profile</a>
        </div>
    </nav>
</header>
<!--Main Navigation-->